<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Titanic predictor</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>Home Page</h1>
    <button type="button" onclick="clicked()">Cleck here.</button>
    <h3>Get your titanic prediction here</h3>
    <p>Enter the details of made up person on titanic voyage</p>
    <p>We will output a prediction</p>
    <form action="{% url 'result' %}">
        {% csrf_token %}
        <p>pclass</p>
        <input type="text" name="pclass">
        <p>sex</p>
        <input type="text" name="sex">
        <p>age</p>
        <input type="text" name="age">
        <p>sibsp</p>
        <input type="text" name="sibsp">
        <p>parch</p>
        <input type="text" name="parch">
        <p>fare</p>
        <input type="text" name="fare">
        <p>embarked</p>
        <input type="text" name="embarked">
        <p>title</p>
        <input type="text" name="title"> <br>
        <input type="submit">
    </form>
    <script src="{% static 'main.js' %}"></script>
</body>

</html>